	 .vscode/
	.CFUserTextEncoding
	.DS_Store
	.Trash/
	.bash_history
	.bash_profile
	.bash_sessions/
	.gitconfig
	.viminfo
	.vscode/
	Applications/
	Creative Cloud Files/
	Desktop/
	Documents/.DS_Store
	Documents/.localized
	Documents/116/
	Documents/117/
	Documents/GitHub/
	Documents/applied-web-class/.DS_Store
	Documents/applied-web-class/113-114First class notes.pages
	Documents/applied-web-class/adobe/
	Documents/applied-web-class/applied-web-development/
	Documents/applied-web-class/bio/
	Documents/applied-web-class/blog-layout/
	Documents/applied-web-class/craigslist-redesign/.DS_Store
	Documents/applied-web-class/craigslist-redesign/index.html
	Documents/applied-web-class/flex-box notes academind.pages
	Documents/applied-web-class/flexbox/
	Documents/applied-web-class/github/
	Documents/applied-web-class/grid/
	Documents/applied-web-class/img/
	Documents/applied-web-class/my-bio.zip
	Documents/applied-web-class/my-bio/
	Documents/applied-web-class/my-bio2/
	Documents/applied-web-class/my-bio4/
	Documents/applied-web-class/my-bio5/
	Documents/applied-web-class/overfora/
	Documents/applied-web-class/project/
	Documents/applied-web-class/redesign/
	Documents/applied-web-class/testing/
	Documents/cl-craigslist-logo.ai
	Documents/craigslist-project-requirments-precode.pages
	Documents/css notes.pages
	Documents/dotfiles2/
	Documents/exercise5-tool-workflow.pages
	Documents/git-cli-practice/
	Documents/in-class-exercise-five.pdf
	Documents/tool-workflow-class/
	Downloads/
	Library/
	Movies/
	Music/
	Pictures/
	Public/
	my-new-file.txt
	.CFUserTextEncoding
	.vscode/
	.CFUserTextEncoding
	.vscode/

